<html>
    <head>
        <title>WS - Scale</title>
        <script src="static/main.js"></script>
    </head>

    <body>
        <h1>WS - Scale</h1>
        <input type="text"
            id="username"
            placeholder="username"
            style="width: 15%" />
        <input
            type="button"
            value="Conectar"
            style="width: 5%"
            onClick="connect()" />
        <input
            type="text"
            id="message"
            style="width: 70%"
            onkeypress="keyPressed(this);" />

        <div id="msgList"
             style="width: 100%;">
        </div>
    </body>
</html>
